<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link href="EscrowContract/src/css/login.css" rel="stylesheet">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trust Me</title>
</head>
<body class="backgroundImg_escrow">
  <nav class="navbar ">
    <span>
      <label class="navbar-brand">Trust Me <label class="navbar-subTitel">Contract's Details</label> </label>
    </span>
  </nav>
  <section class="parent">
    <section class="child">
      <form id="register">
        <form class="row g-3">
          <div class="col">
            <h4 style="font-weight:bold; font-size:34px;">Summary</h4>
            </br>
            <label><b>Description: </b></label>
            <label><%=details.description%></label>
          </div>
          <div class="col">
            <label><b>Buyer Email: </b></label>
            <label><%=details.email%></label>
          </div>
          <div class="col">
            <label><b>Seller Wallet Address: </b></label>
            <label><%=details.walletAddressSeller%></label>
          </div>
          <div class="col">
            <label><b>Buyer Wallet Address: </b></label>
            <label><%=details.walletAddressBuyer%></label>
          </div>
          <div class="col">
            <label><b>Seller Amount: </b></label>
            <label><%=details.depositSeller%></label>
          </div>
          <div class="col">
            <label><b>Buyer Amount: </b></label>
            <label><%=details.depositBuyer%></label>
          </div>
          <div class="col">
            <label><b>Expired Time: </b></label>
            <label><%=details.date%></label>
          </div>
          </br>
          <div class="col">
            <button type="submit" class="btn btn-delete" id="submitBtnn">Delete</button><button type="submit"
              class="btn btn-createTrade" id="submitBtn" disabled>Deploy</button>
          </div>
        </form>
      </form>
    </section>
    <section class="child form-check">
      </br>
      <label><b>Notice!</b></label>
      </br>
      </br>
      <b>
        <p>Once you click 'depley', your contract will be created in the blockchain.</p>
        <p>Please confirm that you have read the rules for using the application</p>
        <p>on the application's main website.</p>
      </b>
      </br>
      <div class="form-check-confirm">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
          <b>Confirm</b>
        </label>
      </div>
      <div class="spinner-border m-5 hide text-secondary" role="status" id="spinner" style="display:none;">
        <span class="sr-only" diplay="hidden"></span>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      var description = '<%- (details.description || null) %>'
      var depositSeller = '<%- (details.depositSeller || null) %>'
      var depositBuyer = '<%- (details.depositBuyer || null) %>'
      var walletAddressSeller = '<%- (details.walletAddressSeller || null) %>'
      var walletAddressBuyer = '<%- (details.walletAddressBuyer || null) %>'
      var emailBuyer = '<%- (details.email || null) %>'
      var date = '<%- (details.date || null) %>'
      var token = '<%- (details.token || null) %>'
    </script>
    <script src="EscrowContract/src/js/web3.min.js"></script>
    <script src="EscrowContract/src/js/truffle-contract.js"></script>
    <script src="EscrowContract/src/js/app.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</body>
</html>